[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

.bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 7px;
}

@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}

.bb-context-menu {
    display: inline-block;
}
