.handle {
    cursor: move;
    display: inline-block;
    padding: 0;
    background: #fff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 23px;
    text-align: center;
    border: 1px solid #c1c1c1;
}

ul[dnd-list],
ul[dnd-list] > li,
tbody[dnd-list],
tbody[dnd-list] > tr,
tbody[dnd-list] > tr > td {
    position: relative;
    cursor: move;
}

tr.dndDraggingSource {}

tr.dndPlaceholder {
    > td {
        background-color: #ddd;
    }
}
