.page-header {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding: 0 0 15px;
    margin: 0 0 15px;

    h1 {
        margin-top: 0;
        margin-bottom: 0;
    }

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    .controls {
        float: right;
        white-space: nowrap;
        margin-left: 20px;
        margin-top: 0;
    }

    .shield-list {
        margin-top: 15px;
    }

    .updates {
        margin-top: 10px;
        color: #888;
        font-size: 1em;
    }
}
