.panel {
  .nav {
    > li {
      margin-bottom: 4px;

      > a {
        display: inline;
        padding: 0;

        &:hover {
          background: transparent;
          text-decoration: underline;
        }
      }
    }
  }
}

.panel-row {
  margin-left: -10px;
  margin-right: -10px;

  > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}
