.showcase {
    a.showcase-item {
      &:hover {
          > .panel {
              box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
          }
      }
    }
    .showcase-item {
        color: #292a2b;
        display: block;

        &.muted {

            > .panel {
                border-style: dashed;
            }
        }

        .media-left {
            

            > .fa {
              width: 1.28571em;
              text-align: center;
            }
        }

        .panel-heading {
            > .panel-title {
                display: inline-block;
                > .fa {
                    opacity: .68;
                }
            }
            > .controls {
                float: right;

                .btn {
                  margin-top: -3px;
                }
            }
        }
    }
}
