<div class="page-header">
  <h1>Content Editor Login</h1>
</div>
<div bb-scroll-into-view="loginCtrl.scrollToTop">
  <form name="loginForm" id="form-login" class="form-horizontal" ng-submit="loginCtrl.submit()" method="post" novalidate>
    <div class="form-group">
      <label class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <button type="button" ng-click="loginCtrl.loginWithBlackbaud()" class="btn btn-lg btn-primary">Login using Blackbaud.com</button>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': loginForm.emailAddress.$touched && loginForm.emailAddress.$invalid}">
      <label class="col-sm-2 control-label">
        Email Address:
      </label>
      <div class="col-sm-10">
        <input class="form-control" type="text" id="email-address" name="emailAddress" ng-model="loginCtrl.formData.emailAddress" placeholder="(required)" required>
        <div ng-show="loginForm.emailAddress.$touched && loginForm.emailAddress.$invalid" class="help-block">
          Email Address is required.
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': loginForm.password.$touched && loginForm.password.$invalid}">
      <label class="col-sm-2 control-label">
        Password:
      </label>
      <div class="col-sm-10">
        <input class="form-control" type="password" name="password" ng-model="loginCtrl.formData.password" placeholder="(required)" required>
        <div ng-show="loginForm.password.$touched && loginForm.password.$invalid" class="help-block">
          Password is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"></label>
      <div class="col-sm-10">
        <a href ui-sref="reset-password">Forgot your password?</a>
      </div>
    </div>
    <div class="form-group form-buttons">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary btn-lg" id="login-form-button" type="submit" ng-disabled="loginForm.$invalid"><i class="fa fa-login"></i>Log In</button>
        <a class="btn btn-default" href ui-sref="register">I need an account &rarr;</a>
      </div>
    </div>
  </form>
</div>
