<h1>Permissions</h1>
<table class="table table-striped">
  <tr>
    <td>
      <form class="form form-inline" ng-submit="permissionsCtrl.submit()">
        <div class="form-group">
          <input type="text" class="form-control" id="field-permission" placeholder="MY_PERMISSION" ng-model="permissionsCtrl.formData.name">
          <button type="submit" class="btn btn-default">Create</button>
        </div>
      </form>
    </td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th>
      Name
    </th>
    <th>
      ID
    </th>
    <th></th>
  </tr>
  <tr ng-repeat="permission in permissionsCtrl.permissions">
    <td>
      <form ng-if="permission.showEditor" ng-submit="permissionsCtrl.update(permission)">
        <div class="form-group">
          <input ng-model="permission.name" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-xs">Update</button>
        <button type="button" class="btn btn-default btn-xs" ng-click="permission.showEditor=false">Cancel</button>
      </form>
      <span ng-if="!permission.showEditor" ng-click="permission.showEditor=true"><i class="fa fa-fw fa-pencil"></i> <span ng-bind="permission.name"></span></span>
    </td>
    <td ng-bind="permission._id"></td>
    <td>
      <button class="btn btn-xs btn-default" ng-click="permissionsCtrl.delete($index)"><i class="fa fa-trash"></i>Delete</button>
    </td>
  </tr>
</table>
