<div class="page-header">
  <h1>Reset Your Password</h1>
</div>
<div ng-if="!resetPasswordCtrl.token">
  <div class="well">
    <p>
      Provide your Blackbaud.com email address below to request a password reset. If you do not get a reply <b>within 24 hours</b>, please reach out to one of the Service Catalog administrators:
    </p>
    <ul>
      <li ng-repeat="user in resetPasswordCtrl.administrators track by $index">
        <a href ng-click="resetPasswordCtrl.mailTo(user.emailAddress)" ng-bind="user.emailAddress"></a>
      </li>
    </ul>
  </div>
  <form bb-wait="resetPasswordCtrl.isWaiting" name="resetRequestForm" id="form-reset-password" class="form-horizontal" ng-submit="resetPasswordCtrl.submitRequest()">
    <div class="form-group" ng-class="{'has-error': resetRequestForm.emailAddress.$touched && resetRequestForm.emailAddress.$invalid}">
      <label class="col-sm-2 control-label">
        Email Address:
      </label>
      <div class="col-sm-10">
        <input class="form-control" type="text" id="email-address" name="emailAddress" ng-model="resetPasswordCtrl.formData.emailAddress" placeholder="(required)" required>
        <div ng-show="resetRequestForm.emailAddress.$touched && resetRequestForm.emailAddress.$invalid" class="help-block">
          Email Address is required.
        </div>
      </div>
    </div>
    <div class="form-group form-buttons">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary btn-lg" type="submit" ng-disabled="resetRequestForm.$invalid">Send Request</button>
      </div>
    </div>
  </form>
</div>
<div ng-if="resetPasswordCtrl.token">
  <form bb-wait="resetPasswordCtrl.isWaiting" name="resetPasswordForm" id="form-reset-password" class="form-horizontal" ng-submit="resetPasswordCtrl.submitReset()">
    <div class="form-group" ng-class="{'has-error': resetPasswordForm.password.$touched && resetPasswordForm.password.$invalid}">
      <label class="col-sm-2 control-label">
        Password:
      </label>
      <div class="col-sm-10">
        <input class="form-control" type="password" name="password" ng-model="resetPasswordCtrl.formData.password" placeholder="(required)" required>
        <div ng-show="resetPasswordForm.password.$touched && resetPasswordForm.password.$invalid" class="help-block">
          Password is required.
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error': resetPasswordForm.retypePassword.$touched && resetPasswordForm.retypePassword.$invalid}">
      <label class="col-sm-2 control-label">
        Retype Password:
      </label>
      <div class="col-sm-10">
        <input class="form-control" type="password" name="retypePassword" ng-model="resetPasswordCtrl.formData.retypePassword" placeholder="(required)" required>
        <div ng-show="resetPasswordForm.retypePassword.$touched && resetPasswordForm.retypePassword.$invalid" class="help-block">
          Retype Password is required.
        </div>
      </div>
    </div>
    <div class="form-group form-buttons">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary btn-lg" type="submit" ng-disabled="resetPasswordForm.$invalid">Submit</button>
      </div>
    </div>
  </form>
</div>
