<div class="page-header">
  <h1>Roles</h1>
</div>
<table class="table table-striped">
  <tr>
    <td>
      <form class="form form-inline" ng-submit="rolesCtrl.createRole()">
        <div class="form-group">
          <input type="text" class="form-control" id="field-role" placeholder="e.g. admin" ng-model="rolesCtrl.formData.name">
          <button type="submit" class="btn btn-default">Create</button>
        </div>
      </form>
    </td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th>
      Name
    </th>
    <th>
      Permissions
    </th>
    <th></th>
    <th></th>
  </tr>
  <tr ng-repeat="role in rolesCtrl.roles">
    <td>
      <form ng-if="role.showEditor" ng-submit="rolesCtrl.updateRole(role)">
        <div class="form-group">
          <input ng-model="role.name" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-xs">Update</button>
        <button type="button" class="btn btn-default btn-xs" ng-click="role.showEditor=false">Cancel</button>
      </form>
      <span ng-if="!role.showEditor" ng-click="role.showEditor=true"><i class="fa fa-fw fa-pencil"></i> <span ng-bind="role.name"></span></span>
    </td>
    <td>
      <form ng-submit="rolesCtrl.updateRole(role)">
        <div class="checkbox" ng-repeat="permission in rolesCtrl.permissions">
          <label><input type="checkbox" ng-checked="role._permissions.indexOf(permission._id) > -1" ng-click="rolesCtrl.toggleSelection(role, permission._id)"><span ng-bind="permission.name"></span></label>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-xs btn-primary">Update Permissions</button>
        </div>
      </form>
    </td>
    <td>
      <label><input ng-disabled="role.name === 'admin'" type="checkbox" ng-checked="role.isDefault" ng-click="rolesCtrl.updateDefaultRole($index)"> Default</label>
    </td>
    <td>
      <button class="btn btn-xs btn-default" ng-click="rolesCtrl.delete($index)"><i class="fa fa-trash"></i>Delete</button>
    </td>
  </tr>
</table>
